* {
  box-sizing: border-box;
  font-family: 'Whisper';
  font-size: 80px;
  margin: 0;

  /* border: 2px solid red; */
}

main {
  align-items: space-evenly;
  display: flex;
  height: 700px;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.board-square {
  align-items: center;
  display: flex;
  height: 200px; 
  justify-content: center;
  width: 200px;
}

.game-board {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 200px);
  height: 600px;
  justify-content: center;
  width: 750px;
}

.heading {
  height: 15%;
}

.middle {
  background-color: lavender;
  height: 100%;
  width: 50%;
}

.player {
  background-color: lavenderblush;
  width: 25%;
}

#one {
  border-bottom: 5px solid black;
  border-right: 5px solid black;
}

#two {
  border-bottom: 5px solid black;
  border-left: 5px solid black;
  border-right: 5px solid black;
}

#three {
  border-bottom: 5px solid black;
  border-left: 5px solid black;
}

#four {
  border-bottom: 5px solid black;
  border-right: 5px solid black;
  border-top: 5px solid black;
}

#five {
  border: 5px solid black;
}

#six {
  border-bottom: 5px solid black;
  border-left: 5px solid black;
  border-top: 5px solid black;
}

#seven {
  border-top: 5px solid black;
  border-right: 5px solid black;
}

#eight {
  border-left: 5px solid black;
  border-right: 5px solid black;
  border-top: 5px solid black;
}

#nine {
  border-top: 5px solid black;
  border-left: 5px solid black;
}